/* --Allgemein und Homepage-- */

.My-Name {
    display: block;
    color: black;
    text-align: right;
    margin-right: 490px;
    margin-left: 265px;
    background-image: url(Edward-Pough_files/perlweiss.jpg);
    border: none;
    border-radius: 15px;
    background-position: center;
    background-size: cover;
    border-style: solid;
}

.Small-Introduction {
    display: block;
    font-size: 110%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 150px;
    margin-right: 580px;
    background-image: url(Edward-Pough_files/perlweiss.jpg);
    border: none;
    border-radius: 15px;
    background-position: center;
    background-size: cover;
    border-style: solid;
}

.Big-Three {
    margin-left: 150px;
}

.Landschaft {
    display: block;
    margin-right: 150px;
    margin-left: auto;
    margin-top: -300px;
    margin-bottom: auto;
    border-style: solid;
    border: 5px;
    border-radius: 10px;
}

hr {
    color: black;
    margin-left: 125px;
    margin-right: 125px;
}

.Name-Ende {
    display: block;
    text-align: right;
    margin-right: 150px;
    margin-left: auto;
}

h3 {
    display: block;
    text-align: right;
    margin-right: 150px;
    margin-left: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-image: url('Edward-Pough_files/wasserfarben\ oben.jpg');
}

/*----------------------------------------------------------------------------------------------------------------------------------*/

/* --About Page-- */

.silly-intro {
    margin-left: 150px;
    margin-right: 500px;
    background-image: url(Edward-Pough_files/perlweiss.jpg);
    border: none;
    border-radius: 15px;
    background-position: center;
    background-size: cover;
    border-style: solid;
}

.detailed-details {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 110%;
    margin-left: 150px;
    margin-right: 510px;
    border-style: solid;
    border-radius: 15px;
    background-image: url(Edward-Pough_files/perlweiss.jpg);
}

.ich-bild {
    width: 175px;
    margin-left: 850px;
    margin-top: -200px;
    border-style: solid;
    border-radius: 15px;
}

.ich-text {
    margin-left: 850px;
    margin-right: 275px;
    background-image: url(Edward-Pough_files/perlweiss.jpg);
    border-radius: 15px;
    border-style: solid;
    margin-top: -6px;

}

.smol-table {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 110%;
    margin-left: 150px;
    margin-right: 150px;
    background-image: url(Edward-Pough_files/perlweiss.jpg);
    border: none;
    border-radius: 15px;
    background-position: center;
    background-size: cover;
    border-style: solid;
}

.Fear {
    color: color-mix(in srgb, black 33%, purple 67%);
    text-decoration: none;
    cursor: url(Edward-Pough_files/termina-cursor.jpg), auto;
}

.Hylics {
    color: color-mix(in srgb, black 33%, purple 67%);
    text-decoration: none;
    cursor: url(Edward-Pough_files/hylics-cursor.jpg), auto;
}

.gaga {
    color: color-mix(in srgb, black 33%, purple 67%);
    text-decoration: none;
    cursor: pointer;
}

.aurora {
    color: color-mix(in srgb, black 33%, purple 67%);
    text-decoration: none;
    cursor: pointer;
}

.kletter {
    color: color-mix(in srgb, black 33%, purple 67%);
    text-decoration: none;
    cursor: pointer;
}

.karten {
    color: color-mix(in srgb, black 33%, purple 67%);
    text-decoration: none;
    cursor: pointer;
}

.songe {
    color: color-mix(in srgb, black 33%, purple 67%);
    text-decoration: none;
    cursor: pointer;
}

.schmusi {
    color: color-mix(in srgb, black 50%, purple 50%);
    text-decoration: none;
    cursor: url(Edward-Pough_files/schmusi-gross-mittel.jpg), auto;
}

/*----------------------------------------------------------------------------------------------------------------------------------*/

/* --Contact Page-- */

.contact-intro {
    margin-left: 150px;
    margin-right: 800px;
    background-image: url(Edward-Pough_files/perlweiss.jpg);
    border-style: solid;
    border-radius: 15px;
}

.table-contact {
    margin-left: -100px;
    border-spacing: 250px 100px;
}

.contact-column-1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    background-image: url(Edward-Pough_files/perlweiss.jpg);
    border-style: solid;
    border-radius: 15px;
}

.contact-info {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    text-align: center;
    background-image: url(Edward-Pough_files/perlweiss.jpg);
    border-style: solid;
    border-radius: 15px;
}